*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}




.container{
    width: 33%;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.header_wrapper{
    width: 100%;
    height: 100px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 1000;
}

/* right side of first header header */
.first_header{
    width: 100%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.first_header .Img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 165px;
}

#profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first_header .Img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}
/* end */


/* left side of first header header */

.icon_left{
    width: 30%;
    height: 30px;
    margin-left: 60px;
    display: flex;
   justify-content: center;
   align-items: center;
}



.icon_left .img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

#status{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

 .img img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
/* end */



/* second header */
.second_header{
    width: 90%;
    height: 34px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

/* right side  */
.right{
    align-items: center;
    display: flex;
    flex: 0.9;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 5px;
}

.search{
    /* margin-left: 10px; */
    padding: 0 20px;
    display: flex;
    align-items: center;
    /* transform: rotate(270deg); */
}

.search img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}



.inputholder{
    display: flex;
    outline: none;
    flex: 1;
    align-items: center;
}

.inputholder input{
    /* height: 3px; */
    background-color: transparent;
    flex: 1.1;
    border: 0;
    font-size: 13px;
    outline: none;
    padding-left: 10px;
}
/* end */


/* left side */
.left{
    width: 20px;
    height: 20px;
}

.left img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* end */


/* chat */
.chat_wrapper{
    margin-top: 10px;
    width: 100%;
    height: 700px;
    background-color: whitesmoke;
    overflow-y: scroll;

}



#w{
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

#w:hover{    
    background-color: rgba(0, 0, 0, 0.1);
}

.wrapper{
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}

.wrapper:hover{    
    background-color: rgba(0, 0, 0, 0.1);
}

.profile{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.text_wrapper{
    width: 80%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.6px solid rgba(0, 0, 0, 0.1);
}


.up{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.up b{
    font-size: 20px;
    font-weight: lighter;
    opacity: 80%;
    text-transform: capitalize;
}

.up p {
    font-size: 12px;
    opacity: 70%;
    text-transform: uppercase;
}

.down{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down pre{
    display: flex;
}

.down pre b{
    font-size: 13px;
    font-weight: bolder;
}

.down span{
    font-size: 13px;
    opacity: 60%;
}




img{
    cursor: pointer;
}


/* left_side */
.left_container{
    width: 67%;
    height: 630px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: none;
}

.top{
    width: 100%;
    height: 10%;
    border-left: 2px solid rgb(216, 214, 214);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DBEDFF;
}

.proP{
    width:  40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    border: 1p solid green;
}

.set{
    width: 83%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.code{
    font-weight: 600;
}

.names{
    font-size: 12px;
    opacity: 0.6;
}

.dots{
    width: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dot{
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.7;
}

.middle{
    width: 100%;
    height: 80%;
    background-image: url(./images/whatsappBG.webp);
    position: relative;
    /* background-blend-mode: darken; */
}

/* .blur{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
} */

.int{
    width: 40%;
    height: 100%;
    margin-left: 40px;
    z-index: 500;
}

.bottom{
    width: 100%;
    height: 10%;
    border-left: 2px solid rgb(216, 214, 214);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DBEDFF;
}

.smile{
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.7;
}

.type{
    width: 80%;
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 15px;
}
